manifest {
    mainScript = 'kallisto.nf'
}

params { 
  output = "results/"
} 

process {
    container = 'cbcrg/kallisto-nf'
    publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el6'
          memory='16G'
          cpus='12'
        }
    }
}
