manifest {
    mainScript = 'kallisto.nf'
}

params { 
  output = "results/"
} 

process {
    container = 'cbcrg/kallisto-nf@sha256:9f840127392d04c9f8e39cb72bcd62ff53cfe0492dde02dc3749bf15f1c547f1'
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el6'
          memory='16G'
          cpus='12'
        }
    }
}
